<footer class="footer">
  <div class="container footer__container">

    <div class="footer__contacts">

      <a class="footer__logo" href="#">
        <img src="../img/footer-logo.png" alt="Стандарт строй">
      </a>

      <span class="footer__call">
        Закажите звонок: </br>
        <a class="footer__phone" href="tel:88431234567">8 (843) 123-45-67</a>
      </span>

      <div class="footer__social">
        <a class="social__link" href="#" target="_blank"><img class="social__img" src="../img/facebook.png" alt="Ссылка на фейсбук"></a>
        <a class="social__link" href="#" target="_blank"><img class="social__img" src="../img/instagram.png" alt="Ссылка на инстаграм"></a>
        <a class="social__link" href="#" target="_blank"><img class="social__img" src="../img/twitter.png" alt="Ссылка на твиттер"></a>
        <a class="social__link" href="#" target="_blank"><img class="social__img" src="../img/youtube.png" alt="Ссылка на ютуб"></a>
      </div> <!-- /footer__social -->

    </div>  <!-- /footer__contacts -->

    <div class="footer__policy">
      <ul class="policy__list">
        <li class="policy__item"><a class="policy__link" href="#">Политика конфиденциальности</a></li>
        <li class="policy__item"><a class="policy__link" href="#">Публичная оферта</a></li>
        <li class="policy__item"><a class="policy__link" href="#">Контакты</a></li>
      </ul>
    </div> <!-- /footer__policy -->

  </div> <!-- /container -->
</footer>
