<header class="header">
  <div class="container header__container">

    <a class="header__logo" href="#"><img src="../img/melody.png" alt="Логотип мелодия"></a>

    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item active">
          <a class="nav__link" href="#">Подобрать </br> квартиру</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Забронировать </br> квартиру</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Ход </br> строительства</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Проектная </br> декларация</a>
        </li>
      </ul>
    </nav>

    <span class="header__call">
      Закажите звонок: </br>
      <a class="header__phone" href="tel:88431234567">8 (843) 123-45-67</a>
    </span>

  </div> <!-- /container -->
</header>
