<div class="modal">
    <div class="modal__dialog">
        <button class="modal__btn">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L26 26" stroke="#3596F5" stroke-width="3"/>
                <path d="M26 2L2 26" stroke="#3596F5" stroke-width="3"/>
            </svg>
        </button>
        <div class="modal__flat">
            <h3 class="title modal__title">Этаж <span class="modal__counter">02</span></h3>
            <svg class="modal__image" width="433" height="408" viewBox="0 0 433 408" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <image id="image0" width="433" height="408" xlink:href="../img/Floor.png" />
                <rect width="433" height="408" fill="url(#pattern0)"/>
                <path data-flat="1" d="M388 81V141H314V148H267.5V131H247V32.5H338.5V16H405V81H388Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="2" d="M314 148.5H268V200H367.5V205H387.5V141H314V148.5Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="3" d="M314.192 252.662H268V200H367.916V204.602H388V268H314.192V252.662Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="4" d="M314 253H268.5V309H295.5V376H340V393H405V328.5H388V268.5H314V253Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="5" d="M218 394.5V264H247.5V273.5H267.5V310.5H294.5V375H259.5V394.5H218Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="6" d="M217 394.5V264H187.5V273.5H167.5V310.5H140.5V375H175.5V394.5H217Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="7" d="M121 252H166.5V309H139.5V376H95V393H30V328.5H47V273.5H121V252Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="8" d="M119.5 273.5H46V198H167V250.822H119.5V273.5Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="9" d="M124.729 116H46V198H167V145.178H124.729V116Z" fill="#3595F6" fill-opacity="0.75"/>
                <path data-flat="10" d="M46.5 81V115.5H125V144.5H164V131H184.5V32.5H93V16H28V81H46.5Z" fill="#3595F6" fill-opacity="0.75"/>
            </svg>
        </div>
        <div class="modal__info">
            <h3 class="title modal__title">Выберите квартиру</h3>

            <ul class="flat__list">
                <li class="flat__item"><a data-flat-info="1" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="2" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="3" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="4" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="5" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="6" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="7" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="8" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="9" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
                <li class="flat__item"><a data-flat-info="10" class="flat__link" href="#" target="_blank">кв. 40, 2 комн. 50 кв. м.</a></li>
            </ul>

            <p class="modal__alert">Квартиры, отмеченные серым, уже выкуплены</p>
        </div>
    </div>
</div>